/* Style global */
body {
    font-family: 'Baskerville SC', serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #caa43b;
}

/* Style du menu de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f0a500;
}

/* Logo */
.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

/* Style pour le contenu des sections */
.cyber-food-content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #caa43b;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: #caa43b;
}

/* Container des menus */
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

/* Style des items de menu */
.menu-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.menu-item h2 {
    font-size: 24px;
    color: #111;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    color: #555;
}

.menu-item strong {
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
